<div class="p-3 bg-[#fafafa] rounded-xl cursor-grab flex flex-col gap-3">
    <div class="flex gap-1">
        <p class="font-bold">Tarefa 1</p>
        <img class="self-start cursor-pointer ml-auto" src="./images/icon-delete.svg" alt="Ícone de lixeira">
    </div>
    <p class="font-light text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    <div class="flex items-center gap-1">
        <img src="./images/icon-comments.svg" alt="Ícone de comentários">
        <p class="font-semibold text-xs text-[#2a89ef] underline underline-offset-2 cursor-pointer">2 Comentários</p>
        <p class="font-semibold text-xs text-[#2a89ef] underline underline-offset-2 cursor-pointer ml-auto"
            (click)="openEditTaskModal()">Editar</p>
    </div>
</div>
